.card {
    
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 53rem;
    
    &__side {

    height: 53rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: $box-shadow-basic;
        
        &--front {
            background-color: $white;
        }
        
        &--back {
            
            transform: rotateY(180deg);
            
            &-primary {
                
            background: $gradient-diagonal-primary;              
                
            }
            
            &-secondary {
                
            background: $gradient-diagonal-secondary;              
                
            }
            
            &-tertiary {
                
            background: $gradient-diagonal-tertiary;              
                
            }
                }
    
    }
    
    &:hover &__side--front {
        
        transform: rotateY(-180deg);
        
    }
    
    &:hover &__side--back {
        
        transform: rotateY(0deg);
        
    }
    
    // FRONT SIDE STYLING
    
    &__picture {
        
        background-size: cover;
        background-blend-mode: screen;
        height: 23rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            
            background-image: $gradient-diagonal-secondary, url("../../img/nat-5.jpg");
            
        }
        
        &--2 {
            
            background-image: $gradient-diagonal-primary, url("../../img/nat-6.jpg");
            
        }
        
        &--3 {
            
            background-image: $gradient-diagonal-tertiary, url("../../img/nat-7.jpg");
            
        }
            
        
    }
    
    
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        }   
    
    &__heading-span {
        
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
                
        &--primary {
            background: $gradient-diagonal-primary-alpha;
        }
        
        &--secondary {
            background: $gradient-diagonal-secondary-alpha;
        }
        
        &--tertiary {
            background: $gradient-diagonal-tertiary-alpha;
        }
        
        
        
    }
    
    &__details {
        
        padding: 3rem;
        
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            
            li {
                
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                
                &:not(:last-child) {
                     border-bottom: 1px solid $grey-300;
                }
                
                
            }
        }
        
    }
    
    // BACK SIDE STYLING
    
    &__cta {
        @include align-vertical-center;
        text-align: center;
    }
    
    &__price-box {
        color: $white;
        margin-bottom: 8rem;
        
    }
    
    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
        
    }
    
    &__price-value {
        font-size: 6rem;
        font-weight: 100;
        
    }

    @include breakpoint(md-port) {
        
        box-shadow: $box-shadow-basic;        
        height: auto;
        background-color: $white;
        border-radius: 3px;

        &__side {
            
        height: auto;
        transition: all .8s ease;
        position: relative;
        box-shadow: none;    
        overflow: hidden;
        
            &--front {
                
            border-radius: 0;
                
            }
            
            &--back {
                
            border-radius: 0;
            margin-top: -3.5rem;
            transform: rotateY(0deg);
            -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                
            }

        }

        &:hover &__side--front {

            transform: rotateY(0deg);

        }

        &:hover &__side--back {

            transform: rotateY(0deg);

        }

        // FRONT SIDE STYLING 
        
        &__details {
            
        padding: 3rem 0 5rem 0;        
            
        }
        
        // BACK SIDE STYLING

        &__cta {
            
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            text-align: center;
            padding: 5rem;

        }

        &__price-box {
            margin-bottom: 2rem;

        }

        &__price-only {
            font-size: 2rem;
            text-transform: uppercase;

        }

        &__price-value {
            font-size: 7rem;
            font-weight: 100;

        }    
        
    }
    
}